@import 'vars.css';

*,
::before,
::after {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  vertical-align: middle;
}

body {
  min-height: 100vh;
  color: white;
  font: normal 400 1rem/1.5 var(--primary-font), sans-serif;
  background: linear-gradient(330deg, var(--dark-blue) 30%, var(--pex-blue) 100%);
  padding: var(--space-lg);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

filter-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
}

.movie-list {
  list-style: none;
  padding: var(--space-lg) 0;
}

.movie-list > * + * {
  margin-top: var(--space-lg);
}
