@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root {
  --primary-font: 'Ubuntu';

  --pex-blue: #071e60;
  --dark-blue: #060810;
  --tan: #b7a28b;
  --orange: #bf7514;
  --light-gray: #bbb;
  --gray: #888;
  --dark-gray: #484848;

  --border-radius: 6px;
  --space-sm: 6px;
  --space-md: 12px;
  --space-lg: 24px;
}